@model TechShop.ModelViews.ChangePasswordViewModel
<partial name="_Notifycation" />
<style>
    body {
        background-color: #f8f9fa; /* Màu nền chung */
    }

    .login-register-area {
        background-color: #f8f9fa; /* Màu nền khu vực chứa form */
        padding: 100px 0;
    }

    .login-form {
        padding: 20px;
    }

    .login-title {
        margin-bottom: 20px;
    }

    .form-control {
        margin-bottom: 15px;
        border: 1px solid #ced4da; /* Kẻ viền cho khung text */
        border-radius: 0.25rem; /* Bo góc viền */
    }

    .btn-custom-size {
        width: 100%;
    }

    .login-title {
        margin-bottom: 20px;
        text-align: center; /* Căn giữa tiêu đề */
    }

    .form-control {
        margin-bottom: 15px;
        border: 1px solid #ced4da; /* Kẻ viền cho khung text */
        border-radius: 0.25rem; /* Bo góc viền */
    }

</style>
<main class="main-content">
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 pt-10 pt-lg-0">
                    <form asp-controller="Accounts" asp-action="ChangePassword" method="post" class="bg-light p-4 rounded shadow">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="login-form">
                            <h4 class="login-title">Thay đổi mật khẩu</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="password-now">Mật khẩu hiện tại</label>
                                    <input type="password" id="password-now" name="PasswordNow" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <label for="password-new">Mật khẩu mới</label>
                                    <input type="password" id="password-new" name="Password" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <label for="confirm-password">Nhập lại mật khẩu mới</label>
                                    <input type="password" id="confirm-password" name="ConfirmPassword" class="form-control">
                                </div>
                                <div class="col-12 mt-3">
                                    <button type="submit" class="btn btn-primary w-100 py-2">Lưu thay đổi</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
