@model TechShop.Models.TinTuc

@{
    ViewData["Title"] = "Thêm tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row m-0">
    <div class="page-header float-left">
        <div class="page-title">
            <ol class="breadcrumb text-right">
                <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li><a asp-area="Admin" asp-controller="AdminTinTucs" asp-action="Index">Danh sách tin tức</a></li>
                <li class="active">Thêm tin tức</li>
            </ol>
        </div>
    </div>
</div>
<strong class="card-title">Thêm tin tức</strong>
<div class="card">
    <div class="card-body card-block">
         <form asp-controller="AdminTinTucs" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group"><label asp-for="Title" class="form-control-label"></label><input asp-for="Title" class="form-control" /></div>
            <span asp-validation-for="Title" class="text-danger"></span>
            <div class="form-group"><label asp-for="Contents" class="form-control-label"></label><input asp-for="Contents" class="form-control" /></div>
            <span asp-validation-for="Contents" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Thumb" class="control-label"></label>
                <input asp-for="Thumb" name="fThumb" type="file" class="form-control-file" />
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div>
            <div class="form-group form-check"><label class="form-check-label"><input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)</label></div>
            <div class="form-group"><label asp-for="CreatedDate" class="form-control-label"></label><input asp-for="CreatedDate" class="form-control" /></div>
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
            <div class="form-group"><label asp-for="Author" class="form-control-label"></label><input asp-for="Author" class="form-control" /></div>
            <span asp-validation-for="Author" class="text-danger"></span>
            <div class="form-group"><label asp-for="Tags" class="form-control-label"></label><input asp-for="Tags" class="form-control" /></div>
            <span asp-validation-for="Tags" class="text-danger"></span>
            <div class="form-group form-check"><label class="form-check-label"><input class="form-check-input" asp-for="IsHot" /> @Html.DisplayNameFor(model => model.IsHot)</label></div>
            <div class="form-group form-check"><label class="form-check-label"><input class="form-check-input" asp-for="IsNewfeed" /> @Html.DisplayNameFor(model => model.IsNewfeed)</label></div>
            <div class="form-group"><label asp-for="Views" class="form-control-label"></label><input asp-for="Views" class="form-control" /></div>
            <span asp-validation-for="Views" class="text-danger"></span>
            <div class="form-actions form-group"><button type="submit" value="Save" class="btn btn-primary">Thêm mới</button></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

